@use "../partials/variable" as v;
@use "../partials/mixin" as m;
// Header
.header {
  box-shadow: 0px 1.6666666269302368px 8.333333015441895px rgba(0, 0, 0, 0.15);
  padding-top: 19px;
  padding-bottom: 17px;
  height: 108px;
  &-inner {
    display: flex;
    align-items: center;
    .menu-wrap {
      display: none;
    }
  }
  .nav {
    margin-left: auto;
    &-list {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 50px;
    }
    &-link {
      position: relative;
      color: v.$text-color;
      font-size: 1.7rem;
      font-weight: 600;
      line-height: 1.3;
      padding-bottom: 35px;
      &:hover {
        color: v.$green-dark;
      }
      &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: v.$green-dark;
        transition: width 0.5s ease;
      }
      &:hover::after,
      &.active::after {
        width: 100%;
      }
    }
  }

  &-actions {
    margin-left: 50px;
    display: flex;
    align-items: center;
    column-gap: 50px;
    .action-link.cart-link {
      display: block;
      position: relative;
      z-index: -1;
      &::before {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        content: "3";
        top: -5px;
        right: -5px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #e05000;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.89;
      }
    }
  }
}
// Hero
.hero {
  &-inner {
    display: flex;
    gap: 0 111px;
  }
  &-content {
    margin-top: 218px;
    width: 100%;
    max-width: 514px;
    margin-left: 200px;
  }
  &-heading {
    color: v.$text-color;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 131.523%;
    strong {
      margin-top: 10px;
      text-transform: uppercase;
      display: inline-block;
      max-width: 380px;
      width: 100%;
      font-size: 4.2rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
  }
  &-desc {
    margin-top: 28px;
    width: 100%;
    max-width: 449.167px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 127.604%;
  }
  &-bg {
    position: relative;
    z-index: -1;
    display: flex;
    background: v.$green;
    width: calc(100% - 514px);
    .image {
      position: relative;
    }
    &-content {
      position: absolute;
      top: 56px;
      transform: rotate(90deg);
      width: 50%;
      right: 10px;
      strong {
        opacity: 0.15;
        color: v.$green-darkest;
        font-size: 10vw;
        font-style: normal;
        font-weight: 800;
        line-height: 1;
      }
    }
  }
  &-img {
    margin-top: 40px;
    display: inline-block;
    transform: translateX(-160px);
  }
}
// Feature
.feature {
  padding-top: 100px;
  &-top {
    text-align: center;
  }
  &-heading {
    max-width: 558px;
    width: 100%;
  }
  &-desc {
    max-width: 643px;
    width: 100%;
    margin: 24px auto;
  }
  &-card_list {
    margin-top: 113px;
    display: flex;
    align-items: center;
    gap: 22px;
    margin-left: 113px;
    margin-right: 113px;
    flex-wrap: wrap;
  }
  &-card_item {
    // width: 100%;
    width: calc(100% / 3 - 22px);
    position: relative;
    &::before {
      display: none;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: -1;
      content: "";
      width: 235px;
      height: 235px;
      border-radius: 50%;
      background: v.$green;
    }
    &:first-child::before {
      display: block;
    }
    &:last-child::before {
      display: block;
      right: 0;
      bottom: 0;
      transform: translate(50%, 50%);
      background: v.$orange-dark;
    }
  }

  &-card_inner {
    background: #fff;
    box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
    border-radius: 3.333px;
    padding: 38.33px 38.33px 59px 31.67px;
  }
  &-card_inner--bigger {
    padding-top: 61px;
    padding-right: 33px;
    padding-bottom: 86px;
  }
  &-card_img {
    display: inline-block;
    padding: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: v.$orange;
  }
  &-card_count {
    display: block;
    font-size: 4.3rem;
    font-weight: 800;
    line-height: normal;
    margin-top: 23.33px;
  }
  &-card_desc {
    max-width: 222.5px;
    width: 100%;
    margin-top: 23.33px;
    display: block;
    font-size: 2rem;
    font-weight: 400;
    line-height: 154.167%; /* 154.167% */
  }
}
// Product
.product {
  padding-top: 218px;
  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 112px;
    margin-left: -83px + 112px;
    gap: 96px 0;
    flex-wrap: wrap;
  }
  &-item {
    margin-top: 50px;
    width: calc(100% / 3);
    padding-left: 83px;
  }
  &-top {
    position: relative;
    background: v.$orange-darkest;
    border-radius: 50%;
    width: 269.316px;
    height: 269.316px;
    margin: 0 auto;
  }
  &-diff {
    background: v.$green-300;
  }
  &-img {
    position: absolute;
    top: 40%;
    left: 50%;
    // transform: translate(-50%, -50%);
    transform: translateX(-55%);
  }
  &-content {
    margin-top: 103px;
    text-align: center;
  }
  &-title {
    position: relative;
    margin: 0 auto;
    width: 100%;
    font-size: 2.33rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &::after {
      // top: 12.81px;
      bottom: -12.81px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      content: "";
      width: 41px;
      height: 2px;
      background: v.$gray-lighter;
    }
  }
  &-desc {
    margin-top: 30px;
    font-size: 1.667rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3; /* 130% */
    color: v.$gray;
    text-align: center;
  }
  &-price {
    margin-top: 6.33px;
    margin-bottom: 31px;
    text-align: center;
    display: block;
    font-size: 1.667rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3; /* 130% */
    strong {
      font-size: 2.333rem;
      font-weight: 600;
      line-height: calc(26.667 / 23.333);
    }
  }
}
// News
.news {
  margin-top: 129px;
  &-desc {
    width: 100%;
    max-width: 657px;
    margin-top: 23px;
  }
  &-list {
    display: flex;
    align-items: center;
    margin-top: 29px;
    margin-left: -23.33px;
    flex-wrap: wrap;
  }
  &-item {
    width: calc(100% / 3);
    padding-left: 23.33px;
  }

  &-content {
    margin-top: 16.27px;
  }
  &-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-info {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: v.$green-dark;
  }
  &-calendar {
    display: flex;
    align-items: center;
    gap: 0 10px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: v.$gray-lighter;
  }
  &-body {
    margin-top: 16.27px;
  }
  &-title {
    margin-top: 16.27px;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 133.333%; /* 133.333% */
  }
  &-item_desc {
    margin-top: 16.27px;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 127.604%; /* 127.604% */
    width: 100%;
    max-width: 389.167px;
  }
}
// Responsive
@include m.media-desktop-1200 {
  .hero {
    // height: 90vh;
    &-inner {
      height: 100%;
      gap: 0 50px;
    }
    &-content {
      margin-top: 80px;
      margin-left: 20px;
      width: 50%;
    }

    &-bg {
      width: 50%;
    }
  }
}
@include m.media-desktop-992 {
  .header-inner {
    justify-content: space-between;
    .nav {
      margin-left: 0;
      &-link {
        font-size: 1.2rem;
      }
    }
    &-actions {
      margin-left: 0;
    }
  }
  // Hero
  .hero {
    &-img {
      transform: translate(-30%);
    }
    &-bg-content {
      width: 30%;
      right: 50px;
    }
  }
  // Feature
  .feature {
    &-card_list {
      margin-inline: 0;
    }
    &-card_item {
      width: 100%;
      &:first-child::before {
        display: none;
      }
      &:last-child::before {
        display: none;
      }
    }
    &-card_inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    &-card_count {
      display: block;
    }
    &-card_desc {
      max-width: 100%;
    }
  }
  // Product
  .product {
    padding-top: 100px;
    &-top {
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-img {
      position: static;
      transform: translate(0);
    }
    &-list {
      gap: 50px 0;
      margin: 0;
    }
    &-item {
      width: 50%;
      padding: 0;
    }
    &-content {
      margin-top: 30px;
    }
  }
  // News
  .news {
    justify-content: center;
    align-items: center;
    &-item {
      padding-bottom: 23.33px;
      width: 50%;
    }
    &-img {
      width: 100%;
    }
    &-body {
      display: flex;
      justify-content: center;
      // align-items: center;
      flex-direction: column;
    }
  }
}
@include m.media-tablet {
  .header {
    padding: 10px;
    &-inner {
      padding: 0;
    }
    .menu-wrap {
      position: relative;
      display: block;
      width: 25px;
      height: 25px;
      font-size: 2.5rem;
    }
    .wrap-icon {
      position: absolute;
      top: 0;
      scale: 1;
      transition: scale 0.5s ease;
    }
    input[type="checkbox"] {
      ~ .menu-wrap {
        .menu-icon {
          visibility: visible;
        }
        .close-icon {
          scale: 0;
          visibility: hidden;
        }
      }
      &:checked {
        ~ .menu-wrap {
          .menu-icon {
            scale: 0;
            visibility: hidden;
          }
          .close-icon {
            scale: 1;

            visibility: visible;
          }
        }
        ~ .nav {
          visibility: visible;

          > .nav-list {
            opacity: 1;
            left: 0;
            transform: translate(0);
          }
          .overlay {
            visibility: visible;
          }
        }
      }
    }
    .nav {
      position: fixed;
      display: block;
      inset: 0;
      visibility: hidden;
      z-index: 999;
      .overlay {
        position: fixed;
        background: #000;
        inset: 0;
        opacity: 0.3;
        visibility: hidden;
      }
      &-list {
        top: 0;
        display: block;
        position: absolute;
        width: 50%;
        transition: all 0.3s ease-in-out;
        left: -100%;
        bottom: 0;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
        background-color: #fff;
        opacity: 0;
      }
      &-link {
        display: inline-block;
        padding: 12px 14px;
      }
    }
  }
  .hero {
    &-inner {
      flex-direction: column-reverse;
      text-align: center;
    }
    &-content {
      width: 100%;
      margin-top: 30px;
      margin-inline: auto;
    }

    &-bg {
      display: flex;
      align-items: center;
      justify-content: center;
      // flex-direction: column;
      width: 100%;
      .image {
        width: 50%;
      }
    }
    &-img {
      transform: translate(0);
      margin-top: 0;
    }
    &-bg-content {
      position: static;
      transform: rotate(0deg);
    }
  }
  .feature {
    padding-top: 30px;
    &-desc {
      margin-top: 12px;
      margin-bottom: 12px;
    }
    &-card_list {
      margin-top: 50px;
    }

    // &-card_item {
    //   &::before {
    //     width: 150px;
    //     height: 150px;
    //   }
    // }
  }
}
@include m.media-mobile {
}
