@use "./variable" as v;
@mixin media-desktop {
  @media screen and (max-width: v.$container-width) {
    @content;
  }
}
@mixin media-desktop-1200 {
  $container-width: 1200px;
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin media-desktop-992 {
  $container-width: 992px;
  @media screen and (max-width: 992px) {
    @content;
  }
}
@mixin media-tablet {
  $container-width: 768px;
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin media-mobile {
  $container-width: 576px;
  @media screen and (max-width: 576px) {
    @content;
  }
}
@mixin media-mobile-sm {
  @media screen and (max-width: 490px) {
    @content;
  }
}

@mixin container($width, $spacer: 0, $padding-inline: 20px) {
  width: 100%;
  max-width: calc($width);
  margin: $spacer auto;
  padding-inline: $padding-inline;
}
