$text-color: #2c2c2c;
$font-family: "Inter", sans-serif;
$green: #dcffca;
$green-dark: #46b20f;
$green-300: #c5ffa8;
$green-darkest: #216000;
$orange: #fff0e7;
$orange-dark: #ffd5bd;
$orange-darkest: #ffba94;
$gray: #656565;
$gray-lighter: #a3a3a3;
