.app .auth-form {
  padding-top: 30px;
  background: var(--main-bg);
  min-height: 100vh;
  font-size: 3rem;
}
.auth-form .btn {
  font-size: 2rem;
}
.auth-form .card {
  background: var(--header-bg);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px;
  color: var(--text-color);
}
.auth-form input.form-control {
  background: transparent;
  color: var(--text-color);
  border: none;
  border-bottom: 1px solid var(--text-gray);
  border-radius: 0;
}
.auth-form input.form-control:focus {
  background: transparent;
  color: var(--text-color);
  border: none;
  border-bottom: 1px solid var(--text-gray);
  border-radius: 0;
  outline: none;
}
.auth-form input.form-control::placeholder {
  color: var(--text-gray);
}
.auth-form .loading {
  display: none;
  position: fixed;
  z-index: 99;
  background: #000;
  width: 100%;
  height: 100%;
  inset: 0;
  opacity: 0.5;
}
.auth-form .loading .loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #00f;
  border-radius: 50%;
  animation: auth-loading 1s linear infinite;
}
.auth-form .loading.active {
  display: block;
}
