.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
.text-center {
  text-align: center;
}
.tex-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button {
  display: block;
  cursor: pointer;
  background: none;
  outline: none;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
