:root {
  --primary-color: #8758ff;
  --secondary-color: #1a1a40;
}
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  background: var(--primary-color);
}
.todo-wrapper {
  margin-top: 80px;
  width: 442px;
  background: var(--secondary-color);
  margin-inline: auto;
  padding: 32px;
}
h1.title {
  text-align: center;
  color: #fff;
  font-size: 2.8rem;
  margin-bottom: 8px;
}
.form-group {
  display: flex;
  margin: 26px 0px 36px;
}
.input {
  width: 78%;
  padding: 8px 16px;
  max-width: 100%;
  border: 1px solid var(--primary-color);
  outline: none;
  font-size: 1.5rem;
  font-weight: 600;
  background: none;
  color: #fff;
  outline: none;
}
.btn {
  display: block;
  background: var(--primary-color);
  font-size: 1.5rem;
  color: #fff;
  flex: auto;
  cursor: pointer;
}
.todo-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}
.todo-item {
  display: flex;
  width: 100%;
}
.todo-item .form-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  font-size: 1.6rem;
}

.btn-action-group {
  display: flex;
  gap: 10px;
}
.todo-item .btn-action-group button {
  background: none;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
}
.todo-item.active .form-detail {
  display: none;
}
.form-edit {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: none;
  padding: 0;
}
.form-edit {
  display: none;
}
.todo-item.active .form-edit {
  display: flex;
}
